<div class="container py-5">
    
        <h1 class="display-4 mb-4">Welcome <%= current_user.name %> to our Tickets App!</h1>
        <p class="lead fs-4">Submit your report and we will fix the problem for you!</p>
    </div>
</div>