<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="card mb-4">
        <div class="card-body">
          <form class="d-flex" action="<%= tickets_path(search: params[:search], title_search: params[:title_search], description_search: params[:description_search]) %>" method="GET">
            <input class="form-control me-2" type="search" name="search" placeholder="Search by email" aria-label="Search">
            <input class="form-control me-2" type="search" name="title_search" placeholder="Search by title" aria-label="Search">
            <input class="form-control me-2" type="search" name="description_search" placeholder="Search by description" aria-label="Search">
            <button class="btn btn-primary" type="submit">Search</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
