<h2>Edit Ticket</h2>

<%= form_for @ticket do |f| %>
  <% @editable_attributes.each do |attribute| %>
    <div class="field">
      <%= f.label attribute %>
      <%= f.text_field attribute %>
    </div>
  <% end %>
  <%= f.submit "Update Ticket" %>
<% end %>